In [1]:
import pandas as pd

# Load the dataset
dataset = pd.read_csv('C:/Users/B62280/Documents/Finance/data/aapl_ohlc.csv')
dataset

,Date,High,Low,Open,Close,Volume,Adj Close
0,2006-10-02,2.709643,2.653571,2.682143,2.673571,712639200,2.306359
1,2006-10-03,2.676786,2.613929,2.658929,2.645714,790708800,2.282328
2,2006-10-04,2.695000,2.612857,2.646429,2.692143,829082800,2.322379
3,2006-10-05,2.720000,2.647500,2.661786,2.672500,683883200,2.305435
4,2006-10-06,2.680000,2.636071,2.657857,2.650714,466958800,2.286641
...,...,...,...,...,...,...,...
1318,2011-12-23,14.413929,14.267500,14.274643,14.404643,269399200,12.426182
1319,2011-12-27,14.610357,14.393572,14.396428,14.518929,265076000,12.524765
1320,2011-12-28,14.580358,14.333571,14.531786,14.380000,228662000,12.404922
1321,2011-12-29,14.487500,14.303928,14.407143,14.468572,215978000,12.481326
1322,2011-12-30,14.510000,14.410357,14.411072,14.464286,179662000,12.477631

In [2]:
import numpy as np
rand_array = np.random.randint(2, size=len(dataset))

# Add the random array as a new column to the DataFrame
dataset['isTraded'] = rand_array
dataset.drop('Adj Close', axis=1, inplace=True)

In [3]:
dataset = dataset.rename(columns={'Date': 'timestamp'})

In [4]:
dataset

,timestamp,High,Low,Open,Close,Volume,isTraded
0,2006-10-02,2.709643,2.653571,2.682143,2.673571,712639200,0
1,2006-10-03,2.676786,2.613929,2.658929,2.645714,790708800,1
2,2006-10-04,2.695000,2.612857,2.646429,2.692143,829082800,1
3,2006-10-05,2.720000,2.647500,2.661786,2.672500,683883200,1
4,2006-10-06,2.680000,2.636071,2.657857,2.650714,466958800,0
...,...,...,...,...,...,...,...
1318,2011-12-23,14.413929,14.267500,14.274643,14.404643,269399200,0
1319,2011-12-27,14.610357,14.393572,14.396428,14.518929,265076000,1
1320,2011-12-28,14.580358,14.333571,14.531786,14.380000,228662000,0
1321,2011-12-29,14.487500,14.303928,14.407143,14.468572,215978000,0
1322,2011-12-30,14.510000,14.410357,14.411072,14.464286,179662000,0

In [5]:
window = 3

# Create lag features for open, high, low, close, and volume columns
for i in range(1, window):
    dataset[f'Open_lag_{i}'] = dataset['Open'].shift(i)
    dataset[f'High_lag_{i}'] = dataset['High'].shift(i)
    dataset[f'Low_lag_{i}'] = dataset['Low'].shift(i)
    dataset[f'Close_lag_{i}'] = dataset['Close'].shift(i)
    dataset[f'Volume_lag_{i}'] = dataset['Volume'].shift(i)

dataset

,timestamp,High,Low,Open,Close,Volume,isTraded,Open_lag_1,High_lag_1,Low_lag_1,Close_lag_1,Volume_lag_1,Open_lag_2,High_lag_2,Low_lag_2,Close_lag_2,Volume_lag_2
0,2006-10-02,2.709643,2.653571,2.682143,2.673571,712639200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006-10-03,2.676786,2.613929,2.658929,2.645714,790708800,1,2.682143,2.709643,2.653571,2.673571,712639200.0,NaN,NaN,NaN,NaN,NaN
2,2006-10-04,2.695000,2.612857,2.646429,2.692143,829082800,1,2.658929,2.676786,2.613929,2.645714,790708800.0,2.682143,2.709643,2.653571,2.673571,712639200.0
3,2006-10-05,2.720000,2.647500,2.661786,2.672500,683883200,1,2.646429,2.695000,2.612857,2.692143,829082800.0,2.658929,2.676786,2.613929,2.645714,790708800.0
4,2006-10-06,2.680000,2.636071,2.657857,2.650714,466958800,0,2.661786,2.720000,2.647500,2.672500,683883200.0,2.646429,2.695000,2.612857,2.692143,829082800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,2011-12-23,14.413929,14.267500,14.274643,14.404643,269399200,0,14.178572,14.254642,14.146428,14.233929,202358800.0,14.167500,14.189285,14.000357,14.158929,262948000.0
1319,2011-12-27,14.610357,14.393572,14.396428,14.518929,265076000,1,14.274643,14.413929,14.267500,14.404643,269399200.0,14.178572,14.254642,14.146428,14.233929,202358800.0
1320,2011-12-28,14.580358,14.333571,14.531786,14.380000,228662000,0,14.396428,14.610357,14.393572,14.518929,265076000.0,14.274643,14.413929,14.267500,14.404643,269399200.0
1321,2011-12-29,14.487500,14.303928,14.407143,14.468572,215978000,0,14.531786,14.580358,14.333571,14.380000,228662000.0,14.396428,14.610357,14.393572,14.518929,265076000.0
1322,2011-12-30,14.510000,14.410357,14.411072,14.464286,179662000,0,14.407143,14.487500,14.303928,14.468572,215978000.0,14.531786,14.580358,14.333571,14.380000,228662000.0

In [6]:
# Drop the timestamp column and the first 2 rows that contain missing values
dataset = dataset.drop(['timestamp'], axis=1)
dataset = dataset.dropna()

# Split the dataset into input features and target variable
X = dataset.drop('isTraded', axis=1)
y = dataset['isTraded']

In [7]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [8]:
import xgboost as xgb

# Create an instance of the XGBoost classifier
xgb_clf = xgb.XGBClassifier()

# Fit the XGBoost classifier on the training data
xgb_clf.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [9]:
from sklearn.metrics import accuracy_score

# Predict the target variable on the testing data
y_pred = xgb_clf.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)

Accuracy: 0.47547169811320755